# System files
.DS_Store

# Skript files
/variables.csv
/config.sk
/features.sk
/backups
/lang

# Custom hidden files
/scripts/test/
/scripts/env.sk
/scripts/customItems/yamls/example-items.yml
/scripts/uploads
